# Core dependencies
trimesh
numpy
scipy

# UniRig dependencies
transformers==4.51.3
python-box
einops
omegaconf
pytorch_lightning
lightning
addict
timm
huggingface_hub
wandb
fast-simplification
bpy==4.2
flash_attn

# Mesh processing
open3d
pyrender
